<%= link_to "index", index_task_path %>

<h3><%= @task.title %></h3>
<p><%= @task.details %></p>
<p> completed ? : <%= @task.completed ? 'Yes' : ' X ' %> </p>

<%= link_to @task.title, edit_tasks_path %>
